@font-face{
    font-family: "Potra";
    src: local(Potra), url(../typography/Potra.ttf);
}
@font-face{
    font-family: "Kiona";
    src: local(Kiona), url(../typography/Kiona-Regular.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
  }

  body {
    font-size: 100%;
    background: rgba(5,9,75,1);
    background-color: linear-gradient(0deg, rgba(5,9,75,1) 0%, rgba(84,5,103,1) 100%);
    background-size: 100%;
    background-repeat: no-repeat;
  }

  .titlepage {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 30px;
  }
  
  .logo {
    font-family: "Potra";
    font-size: 30px;
    color: #d7d7d7;
  }
  
  .titlepage-menu {
    display: flex;
    gap: 32px;
  }
  
  .titlepage-menu-item {
    font-family: "Kiona";
    color: #d7d7d7;
    font-size: 22px;
  }

  .neonborder{
    box-sizing: border-box;
    width: 1360px;
    height: 600px;
    display:flex;
    align-self: center;
    margin-left: 80px;
    box-shadow: inset 0 0 15px 0 #f688f9, 0 0 15px 0 #f688f9;
    border: 4px solid #F688F9;
  }

  .content{
    align-items: center;
    align-content: center;
    justify-content: flex-start;
    flex-direction: column;
  }

  .main-content-written-subtitle{
    font-family: "Kiona";
    font-size: 26px;
    color: #d7d7d7;
  }

  .main-content-written-title{
    font-family: "Potra";
    font-size: 90px;
    color: #F688F9;
    text-shadow: 0 0 1px hsl(0 0% 100% / 0.3), 0 0 20px;
  }

  .main-content-written-text{
    font-family: "Kiona";
    font-size: 20px;
    color: #d7d7d7;
  }