@font-face{
    font-family: "Potra";
    src: local(Potra), url(../typography/Potra.ttf);
}
@font-face{
    font-family: "Kiona";
    src: local(Kiona), url(../typography/Kiona-Regular.ttf);
}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
  }

  body {
    font-size: 100%;
    background-image: linear-gradient(to right top, #1f0452, #320555, #420658, #500a5a, #5e0f5c);
    background-repeat: no-repeat;
    background-size: cover;
  }

  .pagetop {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 30px;
  }
  
  .logo {
    display:flex;
    font-family: "Potra";
    font-size: 30px;
    color: #d7d7d7;
  }
  
  .pagetop-menu {
    display: flex;
    gap: 32px;
  }
  
  .pagetop-menu-item {
    font-family: "Kiona";
    color: #d7d7d7;
    font-size: 22px;
  }

.content{
  position: relative;
}

  .background-container{
    display: flex;
    justify-content: center;
    
  }
  
  .container-image{
    width: 82.5%;
    opacity: 40%;
    position: absolute;
  }

  .container-border{
    display:flex;
    box-sizing: border-box;
    width: 76.25rem;
    height: 50.625rem;
    align-self: center;
    position: relative;
    box-shadow: inset 0 0 15px 0 #f688f9, 0 0 15px 0 #f688f9;
    border: 4px solid #F688F9;
  }

  .text-content{
    position: absolute;
    text-align: center;
    justify-content: flex-start;
  }

  .text-content-subtitle{
    font-family: "Kiona";
    font-size: 26px;
    color: #d7d7d7;
  }

  .text-content-title{
    font-family: "Potra";
    font-size: 90px;
    color: #F688F9;
    text-shadow: 0 0 1px hsl(0 0% 100% / 0.3), 0 0 20px;
  }

  .text-content-phrase{
    font-family: "Kiona";
    font-size: 20px;
    color: #d7d7d7;
  }

  .glass-background{
    background: rgba(255, 255, 255, 0.14);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6.6px);
    -webkit-backdrop-filter: blur(6.6px);
    width: 600px;
    height: 600px;
  }

  .space input[type=text], .space input[type="email"]{
    display: block;
    font-family: "Kiona";
    font-size: 26px;
  }




  .form-text{
    text-align: center;
    font-family: "Kiona";
  }

  #form-title{
    font-size: 26px;
  }

  #form-subtitle{
    font-size: 20px;
  }  





  