@font-face {
    font-family: "Potra";
    src: local(Potra), url(../typography/Potra.ttf);
}
  
@font-face {
    font-family: "Kiona";
    src: local(Kiona), url(../typography/Kiona-Regular.ttf);
}
  
body {
    font-size: 100%;
    background-image: linear-gradient(to left bottom,#000000, #1f090e, #340d13, #490e13, #5e0f0f);
    background-repeat: no-repeat;
    background-size: cover;
    max-width: auto;
    max-height: auto;
    margin: auto;
    padding: 20px;
}

body::-webkit-scrollbar{
    width: 6px;
}
  
body::-webkit-scrollbar-track{
    background: #340d13;
}
  
/*=====menu=====*/
.pagetop {
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 23px;
    margin: 10px;
}
  
.logo {
    display: flex;
    font-family: "Potra";
    font-size: 30px;
    font-weight: 800;
    color: #616745;
    align-items: center;
    text-align: center;
}

ul{
    list-style-type: none;
    display: flex;
    gap: 32px;
}

a{
    text-decoration: none;
}
  
.pagetop-menu {
    display: flex;
}
  
.pagetop-menu-item {
    font-family: "Kiona";
    color: #ad8c8c;
    font-size: 22px;
    font-weight: 800;
}
  
.pagetop-menu-item:hover{
    text-shadow: 0 0 0.2em #ffdddd;
}

.FlexContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    align-content: center;
    height: 85vh;
    overflow: auto;
    flex-direction: row;
    background-image: url("../assets/img/background.png");
    background-blend-mode: color-burn;
    background-size: 120rem;
    box-shadow: inset 0 0 10px 0 #6b2121, 0 0 10px 0 #6b2121;
    border: 4px solid #551616;
    border-radius: 10px;
    z-index: -1;
}

.FlexContainer::-webkit-scrollbar{
    width: 5px;
}
  
.FlexContainer::-webkit-scrollbar-track{
    background: #5e0f0f;
    border-radius: 2px;
}
  
.FlexContainer::-webkit-scrollbar-thumb {
    background-color: #490e13;   
    border-radius: 10px;
}
  
.box {
    position: relative;
    margin: 5rem;
}

@media (min-width: 320px) and (max-width: 1403px) {
    .box {
        margin-top: 50rem;
    }
}
  
.text-content {
    position: relative;
    text-align: center;
    justify-content: center;
}
  
.text-content-subtitle {
    font-family: "Kiona";
    font-size: 30px;
    font-weight: 600;
    color: #ad8c8c;
}
  
.text-content-title {
    font-family: "Potra";
    font-size: 90px;
    font-weight: 100;
    color: #616745;
}

.text-content-phrase {
    font-family: "Kiona";
    font-size: 16px;
    font-weight: 600;
    color: #ad8c8c;
}

.subtitle{
    font-family: 'Kiona';
    font-size: 12px;
    font-weight: 900;
    color:#ad7777;
}

/*=====form=====*/
.box2{
    max-height: 55rem;
    width: 30rem;
    margin: 5rem;
    z-index: 2;
}

form {
    max-width: calc(80% + 1px);
    max-height: 40rem;
    padding: 1rem;
    border-radius: 5px;
    background-clip: padding-box;
    box-shadow: 0 0 13px 3px rgba(0,0,0,.5);
    background: rgba(255, 255, 255, 0.14);
    border-radius: 10px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6.6px);
    -webkit-backdrop-filter: blur(6.6px);
    box-sizing: content-box;
    z-index: -1;
}

.space{
    position: relative;
    margin-bottom: 30px;
    z-index: 1;
}

input {
    background-clip: padding-box;
    font-family: "Kiona";
    font-size:18px;
    padding:10px 10px 10px 5px;
    padding-left:20px;
    padding-right:20px;
    width: 18.75rem;
    border:none;
    border-bottom:1px solid #ad7777;
    background-color: transparent;
    color: #ffdddd;
    caret-color: #865f5f;
}

.datepicker-input{
    color: #ad7777;
    color-scheme: dark;
}

::webkit-calendar-picker-indicator{
    filter:invert();
}
  
input:focus{ 
    outline:none; 
}

/*===== Label =====*/
label 				 {
    color: #ad7777;
    font-family: 'Kiona';
    font-size:18px;
    position:absolute;
    pointer-events:none;
    left:5px;
    top: 2px;
    transition:0.2s ease all; 
    -moz-transition:0.2s ease all; 
    -webkit-transition:0.2s ease all;
}
  
/* active state */
input:focus ~ label, input:valid ~ label 		{
    top:-20px;
    font-size:14px;
    color:#ad7777;
}
  
/*===== Bottom bars =====*/
.bar { position:relative; display:block; width:21.25rem; }
.bar:before, .bar:after {
    content:'';
    height: 2px; 
    width: 0;
    bottom:1px; 
    position:absolute;
    background:#ad7777; 
    transition:0.2s ease all; 
    -moz-transition:0.2s ease all; 
    -webkit-transition:0.2s ease all;
}

.bar:before {
    left:50%;
}
.bar:after {
    right:50%; 
}
  
/* active state */
input:focus ~ .bar:before, input:focus ~ .bar:after {
    width:50%;
}  
  
.button_submit{
    box-sizing: border-box;
    background-color: transparent;
    color: #ad8c8c;
    border-color: #ad8c8c;
    border: 1px solid;
    width: 7rem;
    height: 2rem;
    font-family: 'Kiona';
    font-size: 18px;
    cursor: pointer;
    border-radius: 3px;
}

.button_submit:hover{
    background-color: #ad8c8c;
    color:#5e0f0f;
    font-weight: 800;
    border: none;
}
  
.form-text {
    text-align: center;
    font-family: "Kiona";
    font-weight: 600;
    color: #865f5f;
}
  
#form-title {
    font-size: 26px;
    color: #ad8c8c
}
  
#form-subtitle {
    font-size: 16px;
    color: #ad8c8c;
}

::selection{
    background-color: #ad8c8c;
    color:#551616;
}
